<a href="https://colab.research.google.com/github/cordeiro-thais/cordeiro-thais/blob/main/Exerc%C3%ADcio_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo;

Aplique três métodos distintos na string abaixo, você pode conferir alguns métodos neste link. 
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

Extraia da string abaixo o valor da taxa selic na variável selic e o valor do ano na variavel ano . Imprima os valores na tela.
noticia = '''
Selic vai a 2,75% e supera expectativas;
é a primeira alta em 6 anos.
'''

Utilize a tabela da verdade para responder: qual o valor da variável x?
a = False
b = True
x = not a & b

In [ ]:
tkt = 320.52
qtdv = 3
A = tkt * qtdv
print(A)

961.56

In [ ]:
vtv = 834.47
tkt = 119.21
B = vtv / tkt
print (int(B))

7

In [ ]:
vtv = 15378.12
qtv = 5
C = vtv / qtv
print (int(C))

3075

In [1]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
cancao1 = cancao.replace("mundo", "viva")
print(cancao1)

Roda viva, roda gigante, roda moinho, roda pião.

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.count("roda"))

3

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'
print(cancao.startswith("Olá"))

False

In [9]:
noticia = '''
Selic vai a 2,75% e supera expectativas;
é a primeira alta em 6 anos.
'''

print(noticia[13:18])
print(noticia[63])

2,75%
6

In [11]:
a = False
b = True
x = not a & b
print(x)

True